@import url("https://fonts.cdnfonts.com/css/unbounded");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 12% 97%;
    --foreground: 0 0% 3%;
    --card: 180 12% 97%;
    --card-foreground: 0 0% 3%;
    --popover: 180 12% 97%;
    --popover-foreground: 0 0% 3%;
    --primary: 180 10% 51%;
    --primary-foreground: 0 0% 3%;
    --secondary: 180 12% 72%;
    --secondary-foreground: 0 0% 3%;
    --muted: 180 12% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 178 15% 63%;
    --accent-foreground: 0 0% 3%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 3%;
    --border: 180 12% 20%;
    --input: 180 12% 20%;
    --ring: 178 15% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 13% 3%;
    --foreground: 0 0% 97%;
    --card: 180 13% 3%;
    --card-foreground: 0 0% 97%;
    --popover: 180 13% 3%;
    --popover-foreground: 0 0% 97%;
    --primary: 180 10% 49%;
    --primary-foreground: 180 13% 3%;
    --secondary: 180 12% 28%;
    --secondary-foreground: 0 0% 97%;
    --muted: 180 14% 80%;
    --muted-foreground: 0 0% 97%;
    --accent: 178 15% 37%;
    --accent-foreground: 0 0% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 180 13% 60%;
    --input: 180 14% 80%;
    --ring: 178 15% 60%;
  }
}

@layer base {
  /* Global Styles */
  * {
    @apply border-border;
  }

  /* Body Styles */
  body {
    @apply bg-background text-foreground;
  }

  p {
    @apply opacity-75 mt-3 mb-5;
  }

  /* Heading Styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  h1 {
    @apply pt-2 pb-4 text-5xl font-bold mb-4;
  }

  h2 {
    @apply pt-2 pb-3 text-4xl font-semibold mb-3;
  }

  h3 {
    @apply pt-2 pb-2 text-xl font-medium mb-2;
  }

  h4 {
    @apply pt-1 pb-2 text-lg font-medium mb-2;
  }

  h5 {
    @apply pt-1 pb-1 text-base font-medium mb-1;
  }

  h6 {
    @apply pt-1 pb-1 text-sm font-medium mb-1;
  }

  /* Table Styles */
  table {
    @apply w-full table-auto border-collapse;
  }

  th,
  td {
    @apply border border-border p-2;
  }

  th {
    @apply font-bold;
  }

  /* Link Styles */

  /* Image Styles */
  img {
    @apply max-w-full h-auto;
  }

  /* List Styles */
  ul,
  ol {
    @apply list-disc pl-0;
  }

  li {
    @apply py-3 max-w-xl;
  }

  /* Blockquote Styles */
  blockquote {
    @apply border-l-4 border-border pl-4;
  }

  /* Code Styles */
  code {
    @apply font-mono;
  }

  /* Pre Styles */
  pre {
    @apply overflow-x-auto;
  }
}

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto p-4;
  }
}
