@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 20% 98%;
    --foreground: 120 2% 8%;
    --card: 150 20% 98%;
    --card-foreground: 120 2% 8%;
    --popover: 150 20% 98%;
    --popover-foreground: 120 2% 8%;
    --primary: 152 34% 51%;
    --primary-foreground: 120 2% 8%;
    --secondary: 152 49% 71%;
    --secondary-foreground: 120 2% 8%;
    --muted: 150 20% 20%;
    --muted-foreground: 120 2% 70%;
    --accent: 152 64% 61%;
    --accent-foreground: 120 2% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 120 2% 8%;
    --border: 150 20% 20%;
    --input: 150 20% 20%;
    --ring: 152 64% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 150 20% 2%;
    --foreground: 120 2% 92%;
    --card: 150 20% 2%;
    --card-foreground: 120 2% 92%;
    --popover: 150 20% 2%;
    --popover-foreground: 120 2% 92%;
    --primary: 152 34% 49%;
    --primary-foreground: 150 20% 2%;
    --secondary: 152 49% 29%;
    --secondary-foreground: 120 2% 92%;
    --muted: 150 20% 80%;
    --muted-foreground: 120 2% 92%;
    --accent: 152 64% 39%;
    --accent-foreground: 150 20% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 120 2% 10%;
    --border: 150 20% 60%;
    --input: 150 20% 80%;
    --ring: 152 64% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
